.slider {
  position: relative;
}

.chevronLeft,
.chevronRight {
  transition: all var(--animation-duration);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(var(--gap) * 8);
  height: calc(var(--gap) * 8);
  background-color: var(--color-background-0);
  border-radius: 50%;
  cursor: pointer;
  top: calc(50% - calc(var(--gap) * 5));
  box-shadow: 0 0 calc(var(--gap) * 2) 1px var(--color-text-7);

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(1);
    box-shadow: 0 0 var(--gap) 1px var(--color-text-7);
  }
}

.chevronLeft {
  left: calc(var(--gap) * 9 * -1);
  padding-right: 2px;
}

.chevronRight {
  right: calc(var(--gap) * 9 * -1);
  padding-left: 2px;
}

.line {
  transition: transform var(--animation-duration);
  display: flex;
  position: absolute;
}
