.button {
  transition: all var(--animation-duration);
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  padding: var(--gap) calc(var(--gap) * 3);
  width: fit-content;
}

/* * Стили для Variant */
/* * 'fill' | 'fillLight' | 'outline' | 'ghost' */
/* * И стили для Color */
/* * 'primary' | 'secondary' */
.variant-fill.color-default {
  background-color: var(--color-text-7);
  color: var(--color-text-inner-0);
  border: 1px solid var(--color-text-7);

  &:hover {
    border: 1px solid var(--color-text-6);
    background-color: var(--color-text-6);
  }

  &:active {
    border: 1px solid var(--color-text-5);
    background-color: var(--color-text-5);
  }
}

.variant-fill.color-primary {
  background-color: var(--color-primary);
  color: var(--color-text-inner-0);
  border: 1px solid var(--color-primary);

  &:hover {
    border: 1px solid var(--color-primary-dark-1);
    background-color: var(--color-primary-dark-1);
  }

  &:active {
    border: 1px solid var(--color-primary-dark-2);
    background-color: var(--color-primary-dark-2);
  }
}

.variant-fill.color-secondary {
  background-color: var(--color-secondary);
  color: var(--color-text-inner-0);
  border: 1px solid var(--color-secondary);

  &:hover {
    border: 1px solid var(--color-secondary-dark-1);
    background-color: var(--color-secondary-dark-1);
  }

  &:active {
    border: 1px solid var(--color-secondary-dark-2);
    background-color: var(--color-secondary-dark-2);
  }
}

.variant-fillLight.color-default {
  background-color: var(--color-text-8);
  color: var(--color-text);
  border: 1px solid var(--color-text-8);

  &:hover {
    border: 1px solid var(--color-text-7);
    background-color: var(--color-text-7);
  }

  &:active {
    border: 1px solid var(--color-text-6);
    background-color: var(--color-text-6);
  }
}

.variant-fillLight.color-primary {
  background-color: var(--color-primary-light-9);
  color: var(--color-primary);
  border: 1px solid var(--color-primary-light-9);

  &:hover {
    border: 1px solid var(--color-primary-light-8);
    background-color: var(--color-primary-light-8);
  }

  &:active {
    border: 1px solid var(--color-primary-light-7);
    background-color: var(--color-primary-light-7);
  }
}

.variant-fillLight.color-secondary {
  background-color: var(--color-secondary-light-9);
  color: var(--color-secondary);
  border: 1px solid var(--color-secondary-light-9);

  &:hover {
    border: 1px solid var(--color-secondary-light-8);
    background-color: var(--color-secondary-light-8);
  }

  &:active {
    border: 1px solid var(--color-secondary-light-7);
    background-color: var(--color-secondary-light-7);
  }
}

.variant-outline.color-default {
  background-color: var(--color-background-0);
  color: var(--color-text);
  border: 1px solid var(--color-text);

  &:hover {
    background-color: var(--color-text-8);
  }

  &:active {
    background-color: var(--color-text-7);
  }
}

.variant-outline.color-primary {
  background-color: var(--color-background-0);
  color: var(--color-primary);
  border: 1px solid var(--color-primary);

  &:hover {
    background-color: var(--color-primary-light-9);
  }

  &:active {
    background-color: var(--color-primary-light-8);
  }
}

.variant-outline.color-secondary {
  background-color: var(--color-background-0);
  color: var(--color-secondary);
  border: 1px solid var(--color-secondary);

  &:hover {
    background-color: var(--color-secondary-light-9);
  }

  &:active {
    background-color: var(--color-secondary-light-8);
  }
}

.variant-ghost.color-default {
  background-color: var(--color-background-0);
  color: var(--color-text);
  border: 1px solid var(--color-background-0);

  &:hover {
    border: 1px solid var(--color-text-8);
    background-color: var(--color-text-8);
  }

  &:active {
    border: 1px solid var(--color-text-7);
    background-color: var(--color-text-7);
  }
}

.variant-ghost.color-primary {
  background-color: var(--color-background-0);
  color: var(--color-primary);
  border: 1px solid var(--color-background-0);

  &:hover {
    border: 1px solid var(--color-primary-light-9);
    background-color: var(--color-primary-light-9);
  }

  &:active {
    border: 1px solid var(--color-primary-light-8);
    background-color: var(--color-primary-light-8);
  }
}

.variant-ghost.color-secondary {
  background-color: var(--color-background-0);
  color: var(--color-secondary);
  border: 1px solid var(--color-background-0);

  &:hover {
    border: 1px solid var(--color-secondary-light-9);
    background-color: var(--color-secondary-light-9);
  }

  &:active {
    border: 1px solid var(--color-secondary-light-8);
    background-color: var(--color-secondary-light-8);
  }
}
