.logo {
  display: flex;
  gap: calc(var(--gap) * 2);
}

.mainText {
  font-size: calc(var(--gap) * 7);
  text-transform: uppercase;
}

.subText {
  font-size: calc(var(--gap) * 5);
  text-transform: uppercase;
}

/* TODO: D Design system нет возможности задать padding, а может и не нужно? */
.logo .chip {
  padding: 0 calc(var(--gap) * 2);
}
